@import url("jbossorg.css");

.expand_collapse_toc {
    float:left;
    width:20px;
    color:#6699CC;
    cursor:pointer;
}

/* Center all images and Figure/Table titles */
div.mediaobject img {margin:auto;}

p.title {text-align:center;}
