@import url("jbossorg.css");

.expand_collapse_toc {
    float:left;
    width:20px;
    color:#6699CC;
    cursor:pointer;
}

.toc dl dt span.chapter{
	margin: 0px 0px 0px 20px;
	padding: 0px;
}

body {
background-image:url(../images/community/bkg_gradient.gif);
background-repeat:repeat-x;
color:#333333;
font-family:'Lucida Grande',Geneva,Verdana,Arial,sans-serif;
font-size:12px;
line-height:150%;
max-width:1000px;
padding:0em 2em;
text-align:center;
}

div.book, div.chapter, div.section{
	width:1000px;
	margin:0 auto;
	text-align:justify;

} 

div.abstract {
font-size:10px;
}

.docnav li.previous strong, .docnav li.next strong {
    width: 200px;
    height:22px;
}

.docnav a:hover {
    cursor:pointer;
}
th, td {
    border: 1px solid #AAAAAA;
}
#title, ul.docnav{
	margin:0 auto;
	width:1000px;
	margin-left:0px;
}

/* Center all images and Figure/Table titles */
div.mediaobject img {margin:left;}

p.title {text-align:left;}

.css_normal {
line-height:0px;
color:#000000;
}
.css_colon {
color:#000000;
}
.css_semi_colon {
color:#000000;
}
.css_curly_brace {
color:#000000;
}
.css_comment {
color:#3F5FBF;
background-color:rgb(247,247,247);
}
.css_error {
color:#BF3F3F;
}
.css_selector {
color:#3F7F7F;
}
.css_null {
color:rgb(0,0,0);
}
.css_property_name {
font-weight:bold;
color:#7F007F;
}
.css_property_value {
color:#2A00FF;
}
.css_uri {
color:#2A00FF;
}
.css_atmark_rule {
color:#3F7F7F;
}
.css_media {
color:#2A00FF;
}
.css_string {
color:#2A00FF;
}
code.code{
color:#000000; 
font-size:14px; 
font-family:monospace; 
}
a.new {
background:transparent url(../images/new.png) no-repeat scroll right top;
padding-right:70px;
}
a.updated {
background:transparent url(../images/updated.png) no-repeat scroll right top;
padding-right:70px;
} 
.tbi {color: #aaaaaa;}
.tbi p {color: #333333;}

div.note, div.tip, div.important{
	height:100%;
}

pre.JAVA {
line-height:10px;
!line-height:15px;
}
pre.CSS {
line-height:10px;
!line-height:15px;
}
div.table-contents table{
	font-size:12px;
}