[submodule "conversion/src/main/xslt/d2a"]
	path = conversion/src/main/xslt/d2a
	url = git@github.com:bleathem/docbook2asciidoc.git
[submodule "conversion/src/main/xslt/pressgang-tools"]
	path = conversion/src/main/xslt/pressgang-tools
	url = https://github.com/pressgang/pressgang-tools
