@import url("jbossorg.css");

.expand_collapse_toc {
    float:left;
    width:20px;
    color:#6699CC;
    cursor:pointer;
}

.toc dl dt span.chapter{
	margin: 0px 0px 0px 20px;
	padding: 0px;
}

h2.title a, h3.title a, h4.title a, h5.title a, h6.title a, p.title a {
	text-decoration:none;
	color: #334D69;
}
p.title a{
	color:#333333;
}

div.book, div.chapter, div.section{
	width:1000px;
	margin:0 auto;
	text-align:justify;
	font-weight: 100;
} 

div.abstract {
font-size:10px;
}

.docnav{
	padding:1em 0 3em;
}

.docnav li.previous strong, .docnav li.next strong {
    width: 200px;
    height:22px;
}

.docnav a:hover {
    cursor:pointer;
}
th, td {
    border: 1px solid #AAAAAA;
}
#title, ul.docnav{
	margin:0 auto;
	width:1000px;
	margin-left:0px;
}

/* Center all images and Figure/Table titles */
div.mediaobject img {margin:left;}

p.title {
	text-align:left;
	font-size: 11px;
}

.css_normal {
line-height:0px;
color:#000000;
}
.css_colon {
color:#000000;
}
.css_semi_colon {
color:#000000;
}
.css_curly_brace {
color:#000000;
}
.css_comment {
color:#3F5FBF;
background-color:rgb(247,247,247);
}
.css_error {
color:#BF3F3F;
}
.css_selector {
color:#3F7F7F;
}
.css_null {
color:rgb(0,0,0);
}
.css_property_name {
font-weight:bold;
color:#7F007F;
}
.css_property_value {
color:#2A00FF;
}
.css_uri {
color:#2A00FF;
}
.css_atmark_rule {
color:#3F7F7F;
}
.css_media {
color:#2A00FF;
}
.css_string {
color:#2A00FF;
}
code.code{
color:#000000; 
font-size:14px; 
font-family:monospace; 
}

.tbi {color: #aaaaaa;}
.tbi p {color: #333333;}

div.note, div.tip, div.important{
	height:100%;
}

pre.JAVA {
line-height:10px;
!line-height:15px;
}
pre.CSS {
line-height:10px;
!line-height:15px;
}
div.table-contents table{
	font-size:12px;
}

/* Feedback styles */

* html div#feedback-wrapper {position: absolute;
top:expression(eval(document.compatMode && 
document.compatMode=='CSS1Compat') ?
documentElement.scrollTop
+(documentElement.clientHeight-this.clientHeight) 
: document.body.scrollTop
+(document.body.clientHeight-this.clientHeight));}

* html #feedback-maincontainer {position: absolute;
top:expression(eval(document.compatMode && 
document.compatMode=='CSS1Compat') ?
documentElement.scrollTop
+(documentElement.clientHeight-this.clientHeight) 
: document.body.scrollTop
+(document.body.clientHeight-this.clientHeight));}

#feedback-wrapper{
    margin: 0px;
    padding: 0px;
    position:fixed;
    bottom:0px;
    right:0px;
    height:322px;
	width: 100px;
	overflow: hidden;
}

#feedback-link{
	float: left;
	display: block;
}


#feedback-header{
	background-color: #AAB3BD;
	text-align: center;
	color: white;
	width: 100%;
	font-weight: bold;
	position: relative;
	height: 20px;
	padding: 0px;
	margin:0px;
}

#feedback-close{
	display:block;
	position:absolute;
	right:2px;
	top:2px;
	width:12px;
	border: 0px;
}

#feedback-state{
  font-weight: bold;
  height: 20px;
  width: 508px;
  line-height: 20px;
  overflow: hidden;
}

#feedback-maincontainer{
	z-index:2000;
	text-align: center;	
	background: #F5F5F5;
	border: 1px solid #CCC;
	position: fixed;
	bottom: 0px;
	right: 120px;
}
*html #feedback-maincontainer{
	width: 520px;
}

#feedback-mailform{
	margin: 0px 20px 0px 20px;
	padding-bottom:5px;
}

*html #feedback-mailform{
	margin: 0px 20px 0px 0px;
	padding-bottom:5px;
}

.feedback-textbox-div{
    font-weight: bold;
	margin-bottom:5px;
	text-align: right;
    color: #415973;
}

#message{
    width: 200px;
    height: 150px;
    padding: 2px;
}

.feedback-formbutton{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #415973;
}

.feedback-textbox, #message{
	background-color:#FFFFFF;
	border:1px solid #A5ACB2;
	padding:2px 1px 3px 5px;
	width: 400px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}

.feedback-button-container{
	margin: 0px 5px 0px 0px;
}

.feedback-images{
	border:0;
	margin:0;
	display: inline;
}

