@import url("jbossorg.css");

.expand_collapse_toc {
    float:left;
    width:20px;
    color:#6699CC;
    cursor:pointer;
}

.toc dl dt span.chapter{
	margin: 0px 0px 0px 20px;
	padding: 0px;
}

body {
background-image:url(../images/richfaces_label2.png);
background-repeat:no-repeat;
background-attachment:fixed;
background-position:top left;
z-index:1;
color:#333333;
font-family:'Lucida Grande',Geneva,Verdana,Arial,sans-serif;
font-size:12px;
line-height:150%;
max-width:1000px;
padding:0em 2em;
text-align:center;
}

div#overlay{
background-image:url(../images/community/bkg_gradient.gif);
background-repeat:repeat-x;
width:100%;
height:100%;
position:absolute;
top:0px;
left:0px;
z-index:-1;
}
div.book, div.chapter, div.section{
	width:1000px;
	margin:0 auto;
	text-align:justify;
	font-weight: 100;
} 

div.abstract {
font-size:10px;
}

.docnav li.previous strong, .docnav li.next strong {
    width: 200px;
    height:22px;
}

.docnav a:hover {
    cursor:pointer;
}
th, td {
    border: 1px solid #AAAAAA;
}
#title, ul.docnav{
	margin:0 auto;
	width:1000px;
	margin-left:0px;
}

/* Center all images and Figure/Table titles */
div.mediaobject img {margin:left;}

p.title {
	text-align:left;
	font-size: 11px;
}

.css_normal {
line-height:0px;
color:#000000;
}
.css_colon {
color:#000000;
}
.css_semi_colon {
color:#000000;
}
.css_curly_brace {
color:#000000;
}
.css_comment {
color:#3F5FBF;
background-color:rgb(247,247,247);
}
.css_error {
color:#BF3F3F;
}
.css_selector {
color:#3F7F7F;
}
.css_null {
color:rgb(0,0,0);
}
.css_property_name {
font-weight:bold;
color:#7F007F;
}
.css_property_value {
color:#2A00FF;
}
.css_uri {
color:#2A00FF;
}
.css_atmark_rule {
color:#3F7F7F;
}
.css_media {
color:#2A00FF;
}
.css_string {
color:#2A00FF;
}
code.code{
color:#000000; 
font-size:14px; 
font-family:monospace; 
}
a.new {
background:transparent url(../images/new.png) no-repeat scroll right top;
padding-right:70px;
}
a.updated {
background:transparent url(../images/updated.png) no-repeat scroll right top;
padding-right:70px;
} 
.tbi {color: #aaaaaa;}
.tbi p {color: #333333;}

div.note, div.tip, div.important{
	height:100%;
}

pre.JAVA {
line-height:10px;
!line-height:15px;
}
pre.CSS {
line-height:10px;
!line-height:15px;
}
div.table-contents table{
	font-size:12px;
}

* html div#feedback-wrapper {position: absolute;
top:expression(eval(document.compatMode && 
document.compatMode=='CSS1Compat') ?
documentElement.scrollTop
+(documentElement.clientHeight-this.clientHeight) 
: document.body.scrollTop
+(document.body.clientHeight-this.clientHeight));}


#feedback-wrapper{
    margin: 0px;
    padding: 0px;
    position:fixed;
    bottom:0px;
    right:0px;
    height:322px;
	width: 136px;
	overflow: hidden;
}

#feedback-link{
	float: left;
	display: block;
}

#feedback-state{
  font-weight: bold;
  height: 20px;
  width: 460px;
  overflow: hidden;
  float: left;
}
/*
#feedback-maincontainer{
	width: 520px;
	height: 320px;
	border: 1px dotted #CCC;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 132px;
	text-align:center;
	background: #F5F5F5;
	padding:0 50px 30px 10px;
}
*/

#feedback-maincontainer{
	z-index:2000;
	padding: 5px;
	text-align: center;
	
	background: #F5F5F5;
	border: 1px solid #CCC;
	position: fixed;
	top: 250px;
	left: 350px;
	
}
*html #feedback-maincontainer{
	width: 550px;
}
#feedback-slidedown{
	z-index:2000;
	padding: 5px;
	text-align: left;
	width:300px;
	height:100px;
	background: #F5F5F5;
	border: 1px solid #CCC;
	position: absolute;
	top: -250px;
	right:-400px;
	overflow: hidden;
}

.feedback-textbox-div{
    font-weight: bold;
    padding-right: 20px;
    margin: 5px 0px 5px 0px;
    text-align: right;
    color: #415973;
    vertical-align: middle;
}

#message{
    width: 200px;
    height: 150px;
    padding: 2px;
}

.feedback-formbutton{
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
color: #415973;
}

.feedback-textbox, #message{
background-color:#FFFFFF;
border:1px solid #A5ACB2;
padding:2px 1px 3px 5px;
width: 400px;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
color: #000;
}

.feedback-button-container{
margin: 0px 5px 0px 0px;
}

.feedback-images{
border:0;
margin:0;
display: inline;
}