.rich-component-name {
    background-color: additionalBackgroundColor; /*the value of the constant defined by your skin*/
    border-color: tableBorderColor; /*the value of the constant defined by your skin*/
    border-width: tableBorderWidth; /*the value of the constant defined by your skin*/
    border-style: solid;
}
